<%# banner %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.picsum.photos/id/1083/5472/3648.jpg?hmac=CtOxgXc6Oe3TQvKBXtPsKVT9Z2Yg7SJKWVlgWPeMBUs);">
  <div class="container">
    <h1>BoatNb - <strong>Share and discover the boating lifestyle</strong>!</h1>
    <p>Discover boats perfect for any trip</p>
  </div>
</div>
