.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.mapboxgl-ctrl-logo {
  display: none !important;
}

#map {
  width: 40% !important;
  height: 100vh !important;
  position: sticky !important;
  top: 0 !important;
}
