.navbar{
  background-color: #fefefe;
  button {
    background-color: #92B4F4;
    color: white;
    border: 1px solid #5E7CE2;
    ;
  }
  button:hover{
    background-color:  #5E7CE2;
    border: 1px solid #92B4F4;
    color: white;
  }
}
