// rating
.testimonial-box img {
  display: inline-block;
  width: 90px;
  height:90px;
  border-radius: 50%;
  margin: 0 0 15px;
}
.testimonial-box h4 {
  color: #7f7e8c;
}
.testimonial-box p {
  margin-bottom: 20px;
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
}
.ratings-icons {
  color: #fec42d;
  margin-bottom: 15px;
}
