<h1> Name :<% boat.name %> </h1>
<h2> Category :<% boat.category %> </h2>
<h2> Location :<% boat.location %> </h2>
<h3> Capacity :<% boat.capacity %> </h3>
<h3> Price :<% boat.price %> </h3>
<h3> Owner :<% boat.user.name %> </h3>
<p> Description :<% boat.description %> </p>
